* {
  box-sizing: border-box;
}

/*This fellow selects only adjacent span and em that share the same parent*/

span + em {
  font-size: 12px;
}

/*------------ Basic global selectors----------*/

a {
  color: rgb(212, 146, 3);
}

h1 {
  color: rgb(180, 9, 180);
  text-shadow: 0.05vw 0.05vw rgb(0, 0, 0);
}
h3 {
  color: rgb(212, 146, 3);
}
svg {
  color: white;
  margin-right: 40px;
}

button {
  background-color: black;
  border: 0.05vw solid white;
  margin: 0 8px 0 8px;
}
/* Used with the accessibility functions in index component */

body:not(.userTabs) button:focus {
  outline: none;
}

/*------------Dark/Light Mode Classes-------------*/

.buttonDark {
  background-color: black;
  border: 0.05vw solid white;
}

.buttonLight {
  background-color: white;
  border: 0.05vw solid rgb(0, 0, 0);
}

.faLight {
  width: 3vw;
  color: rgb(0, 0, 0);
}

.darkMode {
  background-color: rgb(0, 0, 0);
  color: #efedf5;
  opacity: 1;
  animation-name: fadeInDarkMode;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInDarkMode {
  0% {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 0.8;
  }
  100% {
    background-color: rgb(0, 0, 0);
    color: #efedf5;
    opacity: 1;
  }
}

.lightMode {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  opacity: 1;
  animation-name: fadeInLightMode;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInLightMode {
  0% {
    background-color: rgb(0, 0, 0);
    color: #efedf5;
    opacity: 0.8;
  }
  100% {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 1;
  }
}
