* {
  box-sizing: border-box;
}

.faLight {
  width: 3vw;
  color: rgb(0, 0, 0);
}

.darkMode {
  background-color: rgb(0, 0, 0);
  color: #efedf5;
  opacity: 1;
  animation-name: fadeInDarkMode;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInDarkMode {
  0% {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 0.8;
  }
  100% {
    background-color: rgb(0, 0, 0);
    color: #efedf5;
    opacity: 1;
  }
}

.lightMode {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  opacity: 1;
  animation-name: fadeInLightMode;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInLightMode {
  0% {
    background-color: rgb(0, 0, 0);
    color: #efedf5;
    opacity: 0.8;
  }
  100% {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 1;
  }
}

a {
  color: green;
}
h1 {
  color: rgb(180, 9, 180);
  text-shadow: 0.05vw 0.05vw rgb(0, 0, 0);
}
h3 {
  color: rgb(212, 146, 3);
}
.hamburger-menu {
  width: 4vw;
  margin: 0;
  padding: 0;
  height: auto;
  float: right;
}
svg {
  color: white;
  margin-right: 1.5vw;
}
body {
  background-color: rgb(0, 0, 0);
  color: #efedf5;
}
